.vybor-page {
    padding: 40px 60px;
    font-family: 'Arial', sans-serif;
}

.breadcrumbs {
    font-size: 14px;
    color: rgba(41, 41, 41, 0.46);
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}

.breadcrumbs span {
    color: #007bff;
    font-size: 14px;
}

.page-title {
    font-size: 30px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: rgba(41, 41, 41, 1);
    margin-bottom: 36px;
    margin-top: 27px;
    text-align: center;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(237, 237, 240, 1);
    border-radius: 1px;
}

.set-card {
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
    align-items: center; /* Центрирует по горизонтали */
    transition: all 0.3s ease;
    flex-direction: column;
    /*width: 271px;*/
    height: 317px;
    padding: 14px;
}

.set-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.set-card img {
    width: 100%;
    max-height: 192px;
    max-width: 244px;
    object-fit: contain;
    margin-bottom: 30px;
    align-items: center;
}

.set-title {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.set-price {
    font-size: 18px;
    color: #e6004c;
    font-weight: bold;
}
